@use './includes/colors' as color;
@use './includes/typography' as font;
@use './includes/variables' as var;
@use './includes/_mixins.scss' as mx;

@use './global.scss';

.index-title {
  color: color.$green;
}

#index-header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#index-header h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}


#index-header::before {
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  @include mx.bgColor(color.$darkGreen);
  opacity: 0.5;
}

#index-header::after {
  @include mx.bgCenter('../assets/images/index-hero.jpg');
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

body .main {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-btns {
  .landing-btn {
    padding: 1rem 1.25rem;
    border-radius: 3rem;
    color: color.$white;
  }
  .contact-btn {
    border: 2px solid color.$darkGreen;
    background-color: color.$darkGreen;
    &:hover {
      background-color: color.$softGreen;
      color: color.$black;
    }
  }
  .about-btn {
    border: 2px solid color.$darkCream;
    background-color: color.$darkCream;
    &:hover {
      background-color: color.$cream;
      color: color.$black;
    }
  }
}

.testimonial-index {
  min-height: 80vh;
  background-color: color.$whiteSmoke;
}

.testimonial-index figure {
  width: 25%;
}

.caption-underline {
  width: 50%;
  border-top: 4px solid color.$gray;
}

.testimonial-index .testimonial-index-text {
  width: 75%;
  
  p {
    font-size: 1.5rem;
  }
}

.list-group .list-group-item {
  min-width: 12rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
  padding: 0;
  a {
    min-width: 100% !important;
    color: color.$black;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    transition: var.$trs-03;
  }

  .anxiety {
    @include mx.border2(#B0C4DE);
  }
  .depression {
    @include mx.border2(#2F4F4F);
  }
  .trauma {
    @include mx.border2(#8B0000);
  }
  .grief {
    @include mx.border2(#36454F);
  }
  .stress {
    @include mx.border2(#FF6347);
  }
  .addiction {
    @include mx.border2(#4B0082);
  }
  .phobias {
    @include mx.border2(#4682B4);
  }
  .burnout {
    @include mx.border2(#CC5500);
  }
  .insomnia {
    @include mx.border2(#191970);
  }
  .loneliness {
    @include mx.border2(#9370DB);
  }
  .anger {
    @include mx.border2(#B22222);
  }
  .guilt {
    @include mx.border2(#556B2F);
  }
}

.testimonial-index .index-testimonial-btn {
  border: 2px solid color.$green;
  background-color: transparent;
  color: color.$green;
  padding: 0.5rem 1.75rem;
  border-radius: 3rem;
  &:hover {
    background-color: color.$green;
    color: color.$white;
  }
}

.quotes-carousel {
  min-width: 100vw;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quotes-carousel::before {
  content: '';
  inset: 0;
  z-index: -1;
  position: absolute;
  @include mx.bgColor(color.$softBlack);
  opacity: 0.4;
}

.quotes-carousel::after {
  content: '';
  inset: 0;
  z-index: -5;
  position: absolute;
  @include mx.bgCenter('../assets/images/quotes-bg.jpg');
  opacity: 1;
}

.footer {
  background-color: color.$green;
}

.blockquote {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blockquote p {
  width: 50%;
}

.quote-text {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.quote-author {
  font-size: 1.5rem;
  font-style: italic;
}

@media all and (max-width: 480px) {
 
  .testimonial-index figure {
    width: 35%;
  }

  .testimonial-index .testimonial-index-text {
    width: 90%;
  }
}

@media all and (max-width: 767px) {

  .blockquote p {
    width: 90%;
  }
}